<%- include('../partials/head'); %>
<%- include('../partials/header_connected'); %>

<section class="commande" id="commande"> 
    <div class="container">
        <div class="skill">
            <div class="head">
                <h3>Votre <%= service %> : <%= nom %></h3>
            </div>
            <% if (service == "vps" ) { %>
                <div class="items">
                    <p>Votre ip est : <%= ip %></p>
                </div>
            <% } %>
            <div class="items">
                <form action="/auth/service-del" method="post">
                    <input type="hidden" name="service" value="<%= service %>">
                    <input type="hidden" name="nom" value="<%= nom %>">
                    <input type="submit" class="btn btn-primary" value="supprimer">
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer'); %>