<%- include('../partials/head'); %>
<%- include('../partials/header_connected'); %>

<section class="commande" id="commande"> 
    <div class="container">
        <div class="skill">
            <div class="head">
                <h3>Votre <%= service %> : <%= nom %></h3>
            </div>
            <div class="items">
                <form action="" method="post">
                    <input type="submit" class="btn btn-primary" value="supprimer">
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer'); %>