<%- include('../partials/head'); %>
<%- include('../partials/header_connected'); %>

<section class="commande" id="commande"> 
    <div class="container">
        <div class="skill">
            <div class="head">
                <h3>Votre <%= service %> : <%= nom %></h3>
            </div>
            <div class="items">
                
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer'); %>